@model List<DataLayer.DTO.AdminDTO.RequestTableData>



@functions {
    public string GetColor(int RequestTypeId)
    {
        switch (RequestTypeId)
        {
            case 1: return "pink";
            case 2: return "green";
            case 3: return "orange";
            case 4: return "blue";
            default: return "green";
        }
    }
}


    @if (Model.Count > 0)
{
    var type = Model[0].status;

    <div class="table-responsive d-none d-lg-block">

        <table class="table" id="adminTable">
            <thead>
                <tr>
                    <th scope="col">Name</th>

                    @if (type == 1 || type == 2 || type == 3 || type == 4 || type == 5)
                    {
                        <th scope="col">Date Of Birth</th>

                    }
                    @if (type == 5)
                    {
                        <th scope="col">Region</th>

                    }
                    @if (type == 1 || type == 2 || type == 3)
                    {
                        <th scope="col">Requestor</th>

                    }
                    @if (type == 2 || type == 3 || type == 4 || type == 5 || type == 6)
                    {
                        <th scope="col">Physician Name</th>
                    }
                    @if (type == 2 || type == 3 || type == 4 || type == 5 || type == 6)
                    {
                        <th scope="col">Date of service</th>
                    }
                    @if (type == 1)
                    {
                        <th scope="col">Requested date</th>

                    }
                    @if (type == 1 || type == 2 || type == 3 || type == 4 || type == 6)
                    {
                        <th scope="col">Phone</th>

                    }

                    <th scope="col">Address</th>

                    @if (type == 1 || type == 2 || type == 3 || type == 5)
                    {
                        <th scope="col">Notes</th>

                    }
                    @if (type == 1 || type == 2 || type == 3 || type == 4 || type == 5 || type == 6)
                    {
                        <th scope="col">Chat With</th>

                    }
                    @if (type == 1 || type == 2 || type == 3 || type == 4 || type == 5)
                    {
                        <th scope="col">Actions</th>

                    }
                </tr>
            </thead>
            @foreach (var obj in Model)
            {
                <tbody>

                    <tr class=" requestTable align-middle table-@{
                            @GetColor(obj.RequestTypeId)
 }">

                        <td scope="row" class="text-white">
                            <div class="d-inline-flex w-100">
                                <div class="w-100">
                                    @obj.Name
                                </div>
                                <div style="border:1px white solid " class="rounded">
                                    <button class="btn text-white">
                                        <i class="fa-regular fa-envelope"></i>
                                    </button>
                                </div>
                            </div>
                        </td>

                        @if (type == 1 || type == 2 || type == 3 || type == 4 || type == 5)
                        {
                            <td class="text-white">@obj.Dob.ToString("MMM,dd yyyy")</td>

                        }
                        @if (type == 5)
                        {
                            <td class="text-white"></td>

                        }
                        @if (type == 1 || type == 2 || type == 3)
                        {
                            <td class="text-white">@obj.Requestor</td>

                        }
                        @if (type == 2 || type == 3 || type == 4 || type == 5 || type == 6)
                        {
                            <td class="text-white">@obj.PhysicianName</td>
                        }
                        @if (type == 2 || type == 3 || type == 4 || type == 5 || type == 6)
                        {
                            <td class="text-white">@obj.DateOfService.ToString("MMM,dd yyyy")</td>
                        }
                        @if (type == 1)
                        {
                            <td class="text-white">@obj.RequestedDate.ToString("MMM,dd yyyy")</td>

                        }
                        @if (type == 1 || type == 2 || type == 3 || type == 4 || type == 6)
                        {
                            <td class="text-white">
                                <div>
                                    <span class="border border-white rounded p-2"><i class="bi bi-telephone p-2"></i>@obj.Phone</span>
                                </div>

                            </td>

                        }

                        <td class="text-white">@obj.Address</td>

                        @if (type == 1 || type == 2 || type == 3 || type == 5)
                        {
                            @if (obj.Notes == null)
                            {
                                <td class="text-white">-</td>
                            }
                            else
                            {
                                <td class="text-white">
                                    @obj.Notes
                                </td>
                            }

                        }
                        @if (type == 1 || type == 2 || type == 3 || type == 4 || type == 5 || type == 6)
                        {
                            <td class="text-white"><button style="border:1px white solid " class="btn rounded d-none d-md-block text-white">Provider</button></td>

                        }
                        <td class="text-white">
                            <div class="dropdown">
                                <button class="btn text-white border border-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Action
                                </button>
                                <ul class="dropdown-menu">
                                    @if (type == 1)
                                    {
                                        <li class="">
                                            <button class="btn assign-case dropdown-item" data-toggle="modal" id="assigncasebtn" data-target="#model2" data-assreqid="@obj.RequestId">
                                                <i class="fa-regular fa-file-lines me-2 ms-1"></i>  Assign Case
                                            </button>
                                        </li>

                                    }

                                    @if (type == 1)
                                    {
                                        <li>
                                            <button class="btn cancel-case dropdown-item" data-toggle="modal" data-target="#model1" data-id="@obj.RequestId">
                                                <i class="fa-regular fa-circle-xmark  me-2 ms-1"></i> Cancel Case
                                            </button>
                                        </li>


                                    }
                                    @if (type == 1 || type == 2 || type == 3 || type == 4 || type == 5 || type == 6)
                                    {
                                        <li><a class="dropdown-item" asp-controller="Admin" asp-route-reqId="@obj.RequestId" asp-action="ViewCase"> <i class="fa-solid fa-file-signature  me-2 ms-1"></i> View Case</a></li>


                                    }
                                    @if (type == 2 || type == 3 || type == 4 || type == 5 || type == 6)
                                    {
                                        <li><a class="dropdown-item" asp-controller="Admin" asp-action="ViewUploads" asp-route-viewid="@obj.RequestId"><i class="fa-solid fa-file-arrow-up  me-2 ms-1"></i> View Uploads</a></li>


                                    }
                                    @if (type == 1 || type == 2 || type == 3 || type == 4 || type == 5 || type == 6)
                                    {
                                        <li><a class="dropdown-item" asp-controller="Admin" asp-route-Requestid="@obj.RequestId" asp-action="ViewNotes"> <i class="fa-solid fa-book  me-2 ms-1"></i> View Notes</a></li>

                                    }
                                    @if (type == 3 || type == 4 || type == 5)
                                    {
                                        <li><a class="dropdown-item" asp-controller="Admin" asp-action="AdminOrders" asp-route-ordreqid="@obj.RequestId"><i class="fa-solid fa-file-circle-check  me-2 ms-1"></i>Orders</a></li>

                                    }
                                    @if (type == 5)
                                    {
                                        <li><a class="dropdown-item" asp-controller="Admin" asp-action="Closecase"><i class="fa-regular fa-circle-xmark  me-2 ms-1"></i> Close Case</a></li>

                                    }
                                    @if (type == 3 || type == 4 || type == 5)
                                    {
                                        <li><a class="dropdown-item" href="#"><i class="fa-regular fa-file-lines  me-2 ms-1"></i> Doctors Note</a></li>

                                    }

                                    @if (type == 2)
                                    {
                                        <li>
                                            <button class="btn transfer-case dropdown-item" data-toggle="modal" data-target="#model4" data-transreqid="@obj.RequestId">
                                                <i class="fa-solid fa-file-import  me-2 ms-1"></i> Transfer
                                            </button>

                                        </li>


                                    }
                                    @if (type == 2 || type == 5)
                                    {
                                        <li>
                                            <button class="btn clear-case dropdown-item" data-toggle="modal" data-target="#model5" data-clearid="@obj.RequestId">
                                                <i class="fa-regular fa-circle-xmark  me-2 ms-1"></i> Clear case
                                            </button>
                                        </li>

                                    }
                                    @if (type == 3 || type == 4 || type == 5)
                                    {
                                        <li><a class="dropdown-item" asp-controller="Admin" asp-action="Encounter" asp-route-encreqid="@obj.RequestId"> <i class="fa-regular fa-file-lines  me-2 ms-1"></i>Encounter</a></li>
                                    }
                                    @if (type == 2)
                                    {
                                        <li>
                                            <button class="btn  dropdown-item send-agreement"
                                                    data-toggle="modal" data-target="#model6"
                                                    data-argreqid="@obj.RequestId"
                                                    data-reqtype="@obj.RequestTypeId"
                                                    data-phone="@obj.Phone"
                                                    data-email="@obj.Email">
                                                <i class="fa-solid fa-file-import  me-2 ms-1"></i> Send Agreement
                                            </button>

                                        </li>

                                    }

                                    @if (type == 1)
                                    {
                                        <li>
                                            <button class="btn block-case dropdown-item" data-toggle="modal" data-target="#model3" data-blockid="@obj.RequestId">
                                                <i class="fa-solid fa-ban  me-2 ms-1"></i> Block Patient
                                            </button>
                                        </li>

                                    }
                                </ul>
                            </div>
                        </td>
                    </tr>

                </tbody>
            }
        </table>

    </div>

    <div class="d-lg-none">
        <br>
        @foreach (var item in Model)
        {
            var acoid = item.RequestId;
            <div class="accordion " id="accordionExample">

                <div class="accordion-item accordian-back ">
                    <h2 class="accordion-header">
                        <button class="accordion-button accordian-back collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#id-@acoid" aria-expanded="false" aria-controls="collapseTwo">
                            <div class="container-fluid">

                                <div class="row">
                                    <div class="col">
                                        <p> @item.Name</p>
                                        <p>@item.Address</p>
                                    </div>
                                    <div class="col ">
                                        <div class="float-end">

                                    
                                        @if (item.RequestTypeId == 2)
                                        {
                                            <div class="d-flex justify-content-end">
                                                <p>Patient </p>
                                                <div class="border border-1 rounded-5 m-1 " style="width: 15px; height:15px; background-color: #60bc60;"></div>

                                            </div>
                                        }
                                        @if (item.RequestTypeId == 3)
                                        {
                                                <div class="d-flex justify-content-end">
                                                <p>Family/Friend</p>
                                                <div class="border border-1 rounded-5 m-1 " style="width: 15px; height:15px; background-color: #ee9125;"></div>


                                            </div>
                                        }@if (item.RequestTypeId == 4)
                                        {
                                                <div class="d-flex justify-content-end">
                                                <p>Concierge</p>
                                                <div class="border border-1 rounded-5 m-1 " style="width: 15px; height:15px; background-color: pink;"></div>
                                            </div>
                                        }@if (item.RequestTypeId == 1)
                                        {
                                                <div class="d-flex justify-content-end">
                                                <p>Business</p>
                                                <div class="border border-1 rounded-5 m-1 " style="width: 15px; height:15px; background-color: #007fc7;"></div>


                                            </div>
                                        }

                                        <a class="btn btn-outline-info " style="border-radius:30px">Map Location</a>
                                        </div>
                                    </div>

                                </div>
                                @if (item.status == 1)
                                {
                                    <div class="d-flex">
                                        <i class="bi bi-clock text-info mt-1 me-2"></i>

                                        <p class="mt-2">
                                            <span class="text-muted">Wait Time:</span>  @item.RequestedDate.ToString("MMM,dd yyyy")
                                        </p>
                                    </div>
                                }


                            </div>



                        </button>
                    </h2>

                    <div id="id-@acoid" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="d-flex justify-content-end d-inline">
                            <a class="rounded-pill me-3 viewCaseBtn px-4 py-2 viewCase fw-bolder text-decoration-none">
                                View Case
                            </a>
                        </div>
                        <div class="accordion-body">
                            <div>
                                @if (item.status == 1 || item.status == 2 || item.status == 3 || item.status == 4 || item.status == 5)
                                {
                                    <div class="d-flex">
                                        <div style="border: 2px solid; border-radius:1000px; width:33px; height:33px"
                                             class="border-info d-flex justify-content-center me-2">
                                            <i class="bi bi-calendar3 "></i>
                                        </div>
                                        <p class="mt-1"><span class="text-muted">Date of birth:</span> @item.Dob.ToShortDateString()</p>
                                    </div>
                                }


                                <div class="d-flex">
                                    <div style="border: 2px solid; border-radius:1000px; width:33px; height:33px"
                                         class="border-info d-flex justify-content-center me-2">
                                        <i class="bi bi-envelope"></i>
                                    </div>
                                    <p><span class="text-muted">Email:</span>  @item.Email</p>

                                </div>
                                @if (item.status == 1 || item.status == 2 || item.status == 3 || item.status == 4)
                                {
                                    <div class="d-flex">
                                        <div style="border: 2px solid; border-radius:1000px; width:33px; height:33px"
                                             class="border-info d-flex justify-content-center me-2">
                                            <i class="bi bi-telephone"></i>
                                        </div>
                                        <p><span class="text-muted">Patient:</span> @item.Phone</p>
                                    </div>
                                }

                                @if (item.status == 2 || item.status == 3 || item.status == 5)
                                {
                                    <div class="d-flex">
                                        <div style="border: 2px solid; border-radius:1000px; width:33px; height:33px"
                                             class="border-info d-flex justify-content-center me-2">
                                            <i class="bi bi-person"></i>
                                        </div>
                                        <p><span class="text-muted">Transfer:</span> Transfer note</p>
                                    </div>
                                }

                                @if (item.status == 2 || item.status == 3 || item.status == 4 || item.status == 5 || item.status == 6)
                                {
                                    <div class="d-flex">
                                        <div style="border: 2px solid; border-radius:1000px; width:33px; height:33px"
                                             class="border-info d-flex justify-content-center me-2">
                                            <i class="bi bi-calendar3 "></i>
                                        </div>
                                        <p><span class="text-muted">Date of service:</span> - </p>
                                    </div>
                                }

                                @if (item.status == 2 || item.status == 3 || item.status == 4 || item.status == 5 || item.status == 6)
                                {
                                    <div class="d-flex">
                                        <div style="border: 2px solid; border-radius:1000px; width:33px; height:33px"
                                             class="border-info d-flex justify-content-center me-2">
                                            <i class="bi bi-person"></i>
                                        </div>
                                        <p><span class="text-muted">Physician:</span> @item.PhysicianName</p>
                                    </div>
                                }
                                @if (item.status == 5)
                                {
                                    <div class="d-flex">
                                        <div style="border: 2px solid; border-radius:1000px; width:33px; height:33px"
                                             class="border-info d-flex justify-content-center me-2">
                                            <i class="bi bi-person"></i>
                                        </div>
                                        <p><span class="text-muted">Region :</span> Region</p>
                                    </div>
                                }

                                <div class="d-flex">
                                    <div style="border: 2px solid; border-radius:1000px; width:33px; height:33px"
                                         class="border-info d-flex justify-content-center me-2">
                                        <i class="bi bi-person"></i>
                                    </div>
                                    <p><span class="text-muted">Requestor:</span> @item.Requestor</p>
                                </div>
                            </div>


                            @* BUTTONS *@



                            <div class="row">


                                @if (item.status == 1)
                                {
                                    <div class="col-6 p-2">
                                        <button style="border-radius:30px; background-color:#5E1675;"
                                                class="btn text-white w-100 p-2 assign-case "
                                                data-toggle="modal" data-target="#model2" data-assreqid="@item.RequestId">
                                            Assign Case
                                        </button>
                                    </div>

                                }

                                @if (item.status == 2)
                                {
                                    <div class="col-6 p-2">
                                        <button style="border-radius:30px; background-color:#ee9125;"
                                                class="btn text-white w-100 p-2 send-agreement"
                                                data-toggle="modal" data-target="#model6"
                                                data-argreqid="@item.RequestId"
                                                data-reqtype="@item.RequestTypeId"
                                                data-phone="@item.Phone"
                                                data-email="@item.Email">
                                            Send Agreement
                                        </button>
                                    </div>

                                }
                                @if (item.status == 5)
                                {
                                    <div class="col-6 p-2">
                                        <a asp-controller="Admin" asp-action="Closecase" class="text-decoration-none">
                                            <button style="border-radius:30px; "
                                                    class="btn btn-danger text-white w-100 p-2">
                                                Close case
                                            </button>
                                        </a>
                                    </div>
                                }

                                @if (item.status == 1)
                                {
                                    <div class="col-6 p-2">

                                        <button style="border-radius:30px; "
                                                data-toggle="modal" data-target="#model1" data-id="@item.RequestId"
                                                class="btn btn-danger cancel-case text-white w-100 p-2 ">
                                            Cancel Case
                                        </button>

                                    </div>
                                }

                                @if (item.status == 1 || item.status == 2 || item.status == 3 || item.status == 4 || item.status == 5 || item.status == 6)
                                {
                                    <div class="col-6 p-2">
                                        <a class="text-decoration-none" asp-controller="Admin" asp-route-Requestid="@item.RequestId" asp-action="ViewNotes">
                                            <button style="border-radius:30px; "
                                                    class="btn btn-success text-white w-100 p-2 ">
                                                View Notes
                                            </button>
                                        </a>
                                    </div>
                                }
                                @if (item.status == 5 || item.status == 3 || item.status == 4)
                                {
                                    <div class="col-6 p-2">
                                        <button style="border-radius:30px; background-color:#114232;" class="btn  text-white w-100 p-2">Doctors Note</button>
                                    </div>
                                }
                                @if (item.status == 2)
                                {
                                    <div class="col-6 p-2">
                                        <button style="border-radius:30px; "
                                                data-toggle="modal" data-target="#model4" data-transreqid="@item.RequestId"
                                                class="btn btn-primary transfer-case text-white w-100 p-2 ">
                                            Transfer
                                        </button>

                                    </div>
                                }
                                @if (item.status == 2 || item.status == 3 || item.status == 4 || item.status == 5 || item.status == 6)
                                {
                                    <div class="col-6 p-2">
                                        <a class="text-decoration-none" asp-controller="Admin" asp-action="ViewUploads" asp-route-viewid="@item.RequestId">
                                        <button style="border-radius:30px; "
                                                class="btn btn-success text-white w-100 p-2 ">
                                            View Uploads
                                        </button>
                                        </a>
                                    </div>
                                }

                                @if (item.status == 5 || item.status == 3 || item.status == 4)
                                {
                                    <div class="col-6 p-2">
                                        <a class="text-decoration-none" asp-controller="Admin" asp-action="Encounter" asp-route-encreqid="@item.RequestId">
                                        <button style="border-radius:30px; "
                                                class="btn btn-success text-white w-100 p-2 ">
                                            Encounter
                                        </button>
                                        </a>
                                    </div>
                                }
                                @if (item.status == 2 || item.status == 5)
                                {
                                    <div class="col-6 p-2">
                                        <button style="border-radius:30px; background-color:#ee9125;"
                                                data-toggle="modal" data-target="#model5" data-clearid="@item.RequestId"
                                                class="btn text-white w-100 p-2 ">
                                            Clear Case
                                        </button>
                                    </div>

                                }
                                @if (item.status == 3 || item.status == 4)
                                {
                                    <div class="col-6 p-2" >
                                        <a class="text-decoration-none" asp-controller="Admin" asp-action="AdminOrders" asp-route-ordreqid="@item.RequestId">
                                        <button style="border-radius:30px; background-color:#ee9125;"
                                                class="btn text-white w-100 p-2 ">
                                            Orders
                                        </button>
                                        </a>
                                    </div>

                                }
                                @if (item.status == 1)
                                {
                                    <div class="col-6 p-2">
                                        <button style="border-radius:30px; "
                                                data-toggle="modal" data-target="#model3" data-blockid="@item.RequestId"
                                                class="btn btn-danger block-case text-white w-100 p-2">
                                            Block Patient
                                        </button>
                                    </div>
                                }

                                <div class="col-6 p-2">
                                    <button style="border-radius:30px; " class="btn btn-success text-white w-100 p-2 ">Email</button>

                                </div>




                            </div>
                            @if (item.status == 5 || item.status == 3 || item.status == 4 || item.status == 6)
                            {
                                <div class="row ">
                                    <p>Chat with: </p>
                                    <div>
                                        <button class="btn btn-outline-info">Patient</button>
                                        <button class="btn btn-outline-info">Provider</button>
                                    </div>

                                </div>
                            }

                        </div>
                    </div>
                </div>


            </div>
        }
        <br>

    </div>

    <div id="pagination" class="d-flex flex-row-reverse p-3">
        <div class="d-flex">
            <button class="btn btn-info first-button ">First</button>
            <button class=" btn btn-light prev-button" disabled><i class="fa-solid fa-arrow-rotate-left"></i> </button>
            <!-- Pagination buttons container -->
            <div class="page-buttons"></div>
            <button class="btn  btn-light  next-button"> <i class="fa-solid fa-arrow-rotate-right"></i> </button>
            <button class="btn  btn-info last-button">Last</button>
        </div>
    </div>
}
else
{
    <p>No data found</p>
}

<!-- Cancel case  Modal -->
<div class="modal fade" id="model1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div style="background-color:#0dcaf0; color:white;" class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Confirm Cancellation</h5>
                <button type="button" class="close btn btn-lg text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="cancelcaseform">
                <div class="modal-body">
                    <input type="number"
                           hidden
                           name="req_id"
                           id="reqestid" />
                    <p>Patient Name : <span id="Name" class="text-info"></span></p>
                    <div class="dropdown bg-light">

                        <select class="form-select" aria-label="Default select example" required>
                            <option selected>Reason for cancellation</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <br />
                    <div class="form-floating">
                        <textarea class="form-control"
                                  placeholder="Leave a comment here"
                                  id="floatingTextarea"
                                  name="cancelNote"
                                  style="height: 100px" required></textarea>
                        <label for="floatingTextarea">Provide Aditional notes</label>
                    </div>
                </div>
                <div class="modal-footer border-0">

                    <button id="cancelcasesubmit" style="background-color:#0dcaf0; color:white;" type="submit" class="btn ">Confirm</button>


                    <button style="border-color:#0dcaf0; color:#0dcaf0 " type="button" class="btn " data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Assign case  Modal -->
<div class="modal fade" id="model2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div style="background-color:#0dcaf0; color:white;" class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Assign Request</h5>
                <button type="button" class="close btn btn-lg text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="assigncaseform">
                <div class="modal-body">
                    <p style="font-size: 15px">To assign this request, search and select another Physician.</p>
                    <input type="number"
                           hidden
                           name="assign_req_id"
                           id="assignreqid" />
                    <div class="dropdown bg-light">

                        <select class="form-select regionDropDown" name="phy_region" aria-label="Default select example" required>
                            <option>Narrow Search by Region</option>

                        </select>
                    </div>
                    <br />
                    <div class="dropdown bg-light">

                        <select class="form-select physicianselect" name="phy_id" aria-label="Default select example" required>

                            <option selected>Select Physician</option>

                        </select>
                    </div>
                    <br />
                    <div class="form-floating">
                        <textarea class="form-control"
                                  placeholder="Leave a comment here"
                                  id="floatingTextarea"
                                  name="assignNote"
                                  style="height: 100px" required></textarea>
                        <label for="floatingTextarea">Description</label>
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button style="background-color:#0dcaf0; color:white;" id="assigncasesubmit" type="submit" class="btn">Submit</button>
                    <button style="border-color:#0dcaf0; color:#0dcaf0 " type="button" class="btn " data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Block case  Modal -->
<div class="modal fade" id="model3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div style="background-color:#0dcaf0; color:white;" class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Confirm Block</h5>
                <button type="button" class="close btn btn-lg text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="blockcaseform">
                <div class="modal-body">
                    <p>Patient Name : <span id="blockName" class="text-info"></span></p>
                    <input type="number"
                           hidden
                           name="block_req_id"
                           id="blockreqid" />
                    <div class="form-floating">
                        <textarea class="form-control"
                                  placeholder="Leave a comment here"
                                  id="floatingTextarea"
                                  name="blocknote"
                                  style="height: 100px" required></textarea>
                        <label for="floatingTextarea">Reason for Block Request</label>
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button style="background-color:#0dcaf0; color:white;" id="blockcasesubmit" type="submit" class="btn">Confirm</button>
                    <button style="border-color:#0dcaf0; color:#0dcaf0 " type="button" class="btn " data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Transfer case  Modal -->
<div class="modal fade" id="model4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div style="background-color:#0dcaf0; color:white;" class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Transfer Request</h5>
                <button type="button" class="close btn btn-lg text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="transfercaseform">
                <div class="modal-body">
                    <p>To transfer this request, search and select another physician.</p>
                    <input type="number"
                           hidden
                           name="transfer_req_id"
                           id="transreqid" />
                    <div class="dropdown bg-light">

                        <select class="form-select regionDropDown" name="phy_region" aria-label="Default select example" required>
                            <option>Narrow Search by Region</option>

                        </select>
                    </div>
                    <br />
                    <div class="dropdown bg-light">

                        <select class="form-select physicianselect" name="phy_id" aria-label="Default select example" required>

                            <option selected>Select Physician</option>

                        </select>
                    </div>

                    <br />
                    <div class="form-floating">
                        <textarea class="form-control"
                                  placeholder="Leave a comment here"
                                  id="floatingTextarea"
                                  name="transferNote"
                                  style="height: 100px" required></textarea>
                        <label for="floatingTextarea">Description</label>
                    </div>

                </div>
                <div class="modal-footer border-0">
                    <button style="background-color:#0dcaf0; color:white;" id="transfercasesubmit" type="submit" class="btn">Submit</button>
                    <button style="border-color:#0dcaf0; color:#0dcaf0 " type="button" class="btn " data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Clear case  Modal -->
<div class="modal fade" id="model5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <form class="clearcaseform">
                <div class="modal-body">
                    <br />
                    <input type="number"
                           hidden
                           name="clear_req_id"
                           id="clearreqid" />
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <div class="warning_icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="85" height="85" fill="currentColor" class="bi bi-exclamation-circle-fill war-i" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4m.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2" />
                            </svg>
                        </div>
                        <br />
                        <h4 class="my-3">Confirmation for clear case</h4>
                        <p class="text-center my-3">
                            Are sure you want to clear this request? Once clear this request then you are not able to see this request.
                        </p>
                    </div>
                    <br />
                    <div class="d-flex justify-content-center">
                        <button id="clearcasesubmit" type="submit" class="btn btn-info text-white m-2">Clear</button>
                        <button type="button" class="btn btn-outline-info m-2" data-dismiss="modal">Cancel</button>
                    </div>
                    <br />
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Send Agreement Modal -->
<div class="modal fade" id="model6" tabindex="-1" role="dialog" aria-labelledby="model6" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
            <div style="background-color:#0dcaf0; color:white;" class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"> Send Agreement</h5>
                <button type="button" class="close btn btn-lg text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="Agreementform">
                <div class="modal-body">
                    <div id="requesttypetext" class="d-inline-flex">
                    </div>
                    <p>To transfer this request, search and select another physician.</p>
                    <input type="number"
                           hidden
                           name="arg_req_id"
                           id="argreqid" />
                    <div>
                        <div class="form-floating mb-3">
                            <input type="text"
                                   name="argPhone"
                                   class="form-control"
                                   id="argPhone"
                                   placeholder="name@example.com" />
                            <label for="floatingInput">Phone Number</label>
                        </div>

                    </div>

                    <div class="form-floating mb-3">
                        <input type="text"
                               class="form-control"
                               name="argEmail"
                               id="argEmail"
                               placeholder="name@example.com" />
                        <label for="floatingInput">Email</label>
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button id="sendAgrsubmit" type="submit" class="btn btn-info text-white">Send</button>
                    <button class="btn btn-outline-info " data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>

    </div>
</div>


<script>
    $(document).ready(function () {

        $.ajax({
            url: './FetchRegions',
            method: 'GET',
            success: function (response) {
                response.forEach(function (res) {

                    $('.regionDropDown').append("<option value='" + res.regionid + "'>" + res.name + "</option>");
                });
            }
        });
    });


    $('#cancelcasesubmit').on('click', function () {

        $.ajax({
            method: "POST",
            url: '@Url.Action("CancelCase", "Admin")',
            data: $('form.cancelcaseform').serialize(),
            success: function (result) {
                console.log("cancel case success");
            }

        });
    });

    $('#assigncasesubmit').on('click', function () {

        $.ajax({
            method: "POST",
            url: '@Url.Action("AssignCase", "Admin")',
            data: $('form.assigncaseform').serialize(),
            success: function (result) {
                // console.log("assign case success");
                alert("Assign case success");
            }

        });
    });

    $('#blockcasesubmit').on('click', function () {

        $.ajax({
            method: "POST",
            url: '@Url.Action("BlockCase", "Admin")',
            data: $('form.blockcaseform').serialize(),
            success: function (result) {
                // console.log("assign case success");
                console.log("Block case success");
            }

        });
    });


    $('#transfercasesubmit').on('click', function () {

        $.ajax({
            method: "POST",
            url: '@Url.Action("TransferCase", "Admin")',
            data: $('form.transfercaseform').serialize(),
            success: function (result) {
                // console.log("assign case success");
                console.log("Transfer case success");
            }

        });
    });

    $('#clearcasesubmit').on('click', function () {

        $.ajax({
            method: "POST",
            url: '@Url.Action("ClearCase", "Admin")',
            data: $('form.clearcaseform').serialize(),
            success: function (result) {
                // console.log("assign case success");
                console.log("CLear case success");
            }

        });
    });

    $("#sendAgrsubmit").on('click', function () {
        console.log("send arg");
        $.ajax({
            method: "POST",
            url: '@Url.Action("SendAgreement", "Admin")',
            data: $('form.Agreementform').serialize(),
            success: function (result) {
                // console.log("assign case success");
                console.log("CLear case success");
            }

        });
    });

    $('.regionDropDown').change(function () {
        var selectregionid = $(this).val();
        var physicianselect = $(".physicianselect");
        physicianselect.empty().append("<option> Select a physician </option>");
        console.log("before url");
        if (selectregionid) {
            $.ajax({
                url: './FetchPhysician?selectregionid=' + selectregionid,
                method: 'GET',
                success: function (response) {
                    console.log(response);

                    response.forEach(function (res) {
                        $('.physicianselect').append("<option value='" + res.physicianid + "'>" + res.name + "</option>");
                    });
                }
            });
        }

    });

</script>
@*
<script>
    $(document).ready(function () {

        $('#adminTable').DataTable({
            "initComplete": function (settings, json) {

                $('#my-search-input').val(settings.oPreviousSearch.sSearch);

                $('#my-search-input').on('keyup', function () {
                    var searchValue = $(this).val();
                    settings.oPreviousSearch.sSearch = searchValue;
                    settings.oApi._fnReDraw(settings);
                });
            },
            "lengthMenu": [[5, 10, -1], [5, 10, "All"]],
            "pageLength": 5,
            language: {
                oPaginate: {
                    sNext: '<i class="bi bi-caret-right-fill text-info"></i>',
                    sPrevious: '<i class="bi bi-caret-left-fill text-info"></i>'
                }
            }
        });
        $('.dataTables_filter').hide();
    });

</script>
 *@





