@model List<DataLayer.DTO.AdminDTO.RequestTableData>



@functions {
    public string GetColor(int RequestTypeId)
    {
        switch (RequestTypeId)
        {
            case 1: return "pink";
            case 2: return "green";
            case 3: return "orange";
            case 4: return "blue";
            default: return "green";
        }
    }

    
}



    @if (Model.Count > 0)
{
    <div class="table-responsive d-none d-sm-block">
        <table class="table " id="adminTable">


            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Date Of Birth</th>
                    <th scope="col">Requestor</th>
                    <th>Physician Name</th>
                    <th>Date of Service</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">Notes</th>
                    <th scope="col">Chat With</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr class="align-middle table-@{
                                            @GetColor(obj.RequestTypeId)
}">
                        <td scope="row" class="text-white">
                            <div class="d-inline-flex w-100">
                                <div class="w-100">
                                    @obj.Name
                                </div>
                                <div style="border:1px white solid " class="rounded">
                                    <button class="btn text-white">
                                        <i class="fa-regular fa-envelope"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td class="text-white"></td>
                        <td class="text-white">@obj.Requestor</td>
                        <td class="text-white">@obj.PhysicianName</td>
                        <td class="text-white">@obj.DateOfService.ToString("MMM,dd yyyy")</td>

                        <td class="text-white">
                            <div>
                                <span class="border border-white rounded p-2"><i class="bi bi-telephone p-2"></i>@obj.Phone</span>
                            </div>

                        </td>
                        <td class="text-white">@obj.Address</td>

                        @if (obj.Notes == null)
                        {
                            <td class="text-white">-</td>
                        }
                        else
                        {
                            <td class="text-white">
                                @obj.Notes
                            </td>
                        }
                        <td class="text-white"><button style="border:1px white solid " class="btn rounded d-none d-md-block text-white">Provider</button></td>
                        <td class="text-white">
                            <div class="dropdown">
                                <button class="btn text-white border border-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Action
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-controller="Admin" asp-route-reqId="@obj.RequestId" asp-action="ViewCase"> <i class="fa-solid fa-file-signature"></i> View Case</a></li>
                                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-file-arrow-up"></i> View Uploads</a></li>
                                    <li><a class="dropdown-item" asp-controller="Admin" asp-route-Requestid="@obj.RequestId" asp-action="ViewNotes">  <i class="fa-solid fa-book"></i> View Notes</a></li>
                                    <li><a class="dropdown-item" href="#"><i class="fa-solid fa-file-import"></i> Transfer</a></li>
                                    <li><a class="dropdown-item" href="#"><i class="fa-regular fa-circle-xmark"></i> Clear case</a></li>
                                    <li><a class="dropdown-item" href="#"><i class="fa-regular fa-file-lines"></i> Send Agreement</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}



<script>
    $(document).ready(function () {

        $('#adminTable').DataTable({
            "initComplete": function (settings, json) {

                $('#my-search-input').val(settings.oPreviousSearch.sSearch);

                $('#my-search-input').on('keyup', function () {
                    var searchValue = $(this).val();
                    settings.oPreviousSearch.sSearch = searchValue;
                    settings.oApi._fnReDraw(settings);
                });
            },
            "lengthMenu": [[5, 10, -1], [5, 10, "All"]],
            "pageLength": 5,
            language: {
                oPaginate: {
                    sNext: '<i class="bi bi-caret-right-fill text-info"></i>',
                    sPrevious: '<i class="bi bi-caret-left-fill text-info"></i>'
                }
            }
        });
        $('.dataTables_filter').hide();
    });

</script>
