@model DataLayer.DTO.AdminDTO.ViewUploadsModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Empty";
}
<div>
    <div class="d-none d-lg-flex shadow bg-white">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse bg-white" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto nav-underline bg-white">
                    <li class="nav-item ">
                        <a class="nav-link " asp-action="AdminDashboard" asp-controller="Admin">Dashboard </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Provider Location</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Profile" asp-controller="Admin">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Providers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Partners</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Access</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Records</a>
                    </li>

                </ul>

            </div>
        </nav>

    </div>

    <div class="offcanvas offcanvas-start d-lg-none" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasSidebarLabel"><img style="width:70px;" class="largeLogo align-content-center" src="~/images/logo.png" alt="Logo" /></h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body aside-cont">
            <ul class="list-group">
                <li class="list-group-item ">
                    <a class="nav-link fs-5 fw-semibo text-dark ps-4" id="Dashboard-Page" asp-action="AdminDashboard" asp-controller="Admin">Dashboard</a>
                </li>
                <li class="list-group-item ">
                    <a class="nav-link fs-5 text-dark ps-4" id="Location-Page" asp-action="Location" asp-controller="Admin">Provider Location</a>
                </li>
                <li class="list-group-item ">
                    <a class="nav-link fs-5 text-dark ps-4" id="Profile-Page" asp-action="Profile" asp-controller="Admin">My Profile</a>
                </li>
                <li class="list-group-item ">
                    <a class="nav-link fs-5 text-dark ps-4" id="Provider-Page" asp-action="Providers" asp-controller="Admin">Providers</a>
                </li>
                <li class="list-group-item ">
                    <a class="nav-link fs-5 text-dark ps-4" id="Partner-Page" asp-action="Partners" asp-controller="Admin">Partners</a>
                </li>
                <li class="list-group-item ">
                    <a class="nav-link fs-5 text-dark ps-4" id="ManageAccess-Page" asp-action="ManageAccess" asp-controller="Admin">Access</a>
                </li>
                <li class="list-group-item ">
                    <a class="nav-link fs-5 text-dark ps-4" id="Records-Page" asp-action="Records" asp-controller="Admin">Records</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="bg-light mt-5">
    <div class="container">
        <div class="d-inline-flex w-100 ">
            <h3>Documents</h3>
            <div class="flex-grow-1 d-flex justify-content-end">
                <button class="back-btn btn btn-outline-info " onclick="back()">&lt Back</button>
            </div>
        </div>
        <div class=" bg-white rounded shadow p-4 mt-3">
            
            <div class="row " >
                <p>Patient Name</p>

                <p><span class="text-info">@Model.name</span></p>


                <p>Check here to review and add files that you or the Client/Member has attached to the Request.</p>
                <form asp-action="addFiles" asp-route-reqid="@Model.reqid" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-11">
                            <div>
                                <div class=" d-flex "
                                     onclick="document.getElementById('upload').click()"
                                     style="cursor: pointer">
                                    <label class="col-8 col-md-10 col-lg-11 upload bg-light"
                                           id="fileLabel">Select File</label>
                                    <button type="button" class="col-4 col-md-2 col-lg-1 btn btn-info uploadbtn text-white">
                                        Upload
                                    </button>
                                    <input name="file" type="file" style="display: none" id="upload" multiple />
                                </div>
                                <div id="select_file"></div>
                            </div>
                           
                        </div>

                      
                        <div class="col-md-1">
                            <button type="submit" class="btn btn-info submit text-white">Save</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="mt-3 row">
                <div class="d-inline-flex w-100 ">
                    <h3>Documents</h3>
                    <div class="flex-grow-1 d-flex justify-content-end">
                        <button class=" btn btn-outline-info m-2 downloadAll"
                                onclick="downloadSelectedFiles()"  >Download All</button>
                        <button class="btn btn-outline-info m-2  deleteAll" >Delete All</button>
                        <button class="btn btn-outline-info sendMail m-2">Send Mail</button>
                    </div>
                </div>
            </div>
            <div class="row d-lg-flex d-none">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="checkAll" data-rows-group-id="users">
                                    </label>
                                </div>
                            </th>
                            <th>Documents</th>
                            <th>Upload Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.filedata.Count != 0)
                        {


                            @foreach (var item in Model.filedata)
                            {
                                <tr>
                                    <td class="" >
                                        <input type="checkbox" class="check fileCheckbox" name="checkdoc" data-rows-group-id="users">
                                       
                                    </td>
                                    <td id="FileName">
                                        @item.file
                                    </td>
                                    <td>
                                        @item.createdate.ToShortDateString()
                                    </td>
                                    <td>

                                        <a class="btn btn-outline-info download-btn" asp-route-docid="@item.docid" asp-action="Downloadfile">

                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-down" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M7.646 10.854a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 9.293V5.5a.5.5 0 0 0-1 0v3.793L6.354 8.146a.5.5 0 1 0-.708.708z" />
                                                <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383m.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                                            </svg>
                                        </a>


                                        <a class="delete-btn btn btn-outline-info" asp-route-fileid="@item.docid" asp-action="DeleteFile">

                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                                </svg>

                                        </a>
                                        
                                        <input type="number" id="reqid" hidden value="@item.docid">
                                    </td>
                                </tr>

                            }
                        }
                        else
                        {
                            <tr>
                                <td>
                                    <p>No file uploaded</p>

                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="d-lg-none">
                 @if (Model.filedata.Count != 0)
                {
                    @foreach (var item in Model.filedata)
                    {
                        <div class="border-3 py-3" style="margin-right: -1.5rem!important; margin-left: -1.5rem!important; border-top:1px solid grey;">
                            <div class="px-4">
                                <div class="mb-3">
                                    <input type="checkbox" class="check fileCheckbox" name="checkdoc" data-rows-group-id="users">

                                    <span class="fw-medium fs-5 ms-3">  @item.file</span>
                                </div>

                                <div class="mb-3">
                                    <span class="fw-medium fs-5">@item.createdate.ToString("MMM dd, yyyy")</span>

                                </div>
                                <a class="btn btn-outline-info download-btn" asp-route-docid="@item.docid" asp-action="Downloadfile">

                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-down" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M7.646 10.854a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 9.293V5.5a.5.5 0 0 0-1 0v3.793L6.354 8.146a.5.5 0 1 0-.708.708z" />
                                        <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383m.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                                    </svg>
                                </a>

                                <a class="delete-btn btn btn-outline-info" asp-route-fileid="@item.docid" asp-action="DeleteFile">

                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                    </svg>

                                </a>
                            </div>
                        </div>

                    }
                }
                else
                {
                    <p>No file uploaded</p>
                }

            </div>
        </div>
    </div>
</div>

<script>

    $("#checkAll").click(function () {
        $(".check").prop('checked', $(this).prop('checked'));
    });

    $('.deleteAll').click(function () {
        $('.fileCheckbox:checked').each(function () {
            console.log("Hello");
            var filePath = $(this).closest('tr').find('.delete-btn')[0].click();
        });
    });


    //  $('.downloadAll').click(function () {
    //     $('.fileCheckbox:checked').each(function () {
    //         console.log("Hello");
    //         var filePath = $(this).closest('tr').find('.download-btn')[0].click();
    //     });
    // });

    // $('#download-all').click(function () {
    //     $('.filecheckbox:checked').each(function () {
    //         $(this).closest('tr').find('.download-btn')[0].click();
    //         console.log("Hello");
    //     });
    // });

    // $('#delete-all').click(function () {
    //     $('.check:checked').each(function () {
    //         console.log("Hello");
    //         var filePath = $(this).closest('tr').find('.delete-btn')[0].click();
    //     });
    // });

    // $('#delete-all').click(function () {
    //     $('.check:checked').each(function () {
    //         console.log("Hello");
    //         $(this).closest('tr').find('.delete-btn')[0].click();
    //     });
    // });

        function downloadSelectedFiles() {

            var selectedFiles = document.querySelectorAll('input[name="checkdoc"]:checked');
            var fileUrls = [];
            console.log=("print");

            selectedFiles.forEach(function (checkbox) {
                var row = checkbox.closest('tr');
                var fileUrl = row.querySelector('a').getAttribute('href');
                fileUrls.push(fileUrl);
            });

            fileUrls.forEach(function (url) {
                var link = document.createElement('a');
                link.href = url;
                link.download = '';
                document.body.appendChild(link)
                    ;
                link.click();
                document.body.removeChild(link)
                    ;
            });
        }
</script>
<script>
        // $('.deleteAll').click(function () {
        //     $('.fileCheckbox:checked').each(function () {
        //         console.log("Hello");
        //         var filePath = $(this).closest('tr').find('.delete-btn')[0].click();
        //     });
        // });

        // var selectAllCheckbox = document.getElementById("check-all");



        $('.sendMail').click(function () {
            var files = [];
            $('.check:checked').each(function () {
                console.log("Hello");
                var filePath = $(this).closest('tr').find('#FileName').text();
                files.push(filePath)             
            });
            console.log(files);
            var id = document.getElementById('reqid').value;
            $.ajax({
                type: "POST",
                url: "@Url.Action("SendDocumentEmail", "Admin")",
                data: ({ id: id, files: files }),
                success: function (response) {
                    console.log("email send");
                },
                error: function (response) {
                    alert(error);
                }
            })
        })


    $("#upload").change(function () {
        const fileInput = document.getElementById('upload');
        const fileList = document.getElementById('select_file');
        const files = event.target.files;
      
        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            const fileItem = document.createElement('div');
            fileItem.className = 'file-item';

            const fileName = document.createTextNode(file.name);
            fileItem.appendChild(fileName);

            const removeIcon = document.createElement('i');
            removeIcon.classList = 'bi bi-x-square';
            removeIcon.alt = 'Remove';
            fileItem.appendChild(removeIcon);

            fileList.appendChild(fileItem);
            removeIcon.addEventListener('click', function () {
                // fileInput.value = ''; // Clear file input
                fileList.removeChild(fileItem); // Remove file item from list
                fileItem.removeChild(fileItem);
            });
        }
        console.log(fileInput.files);
    })


    //     // Check/uncheck all checkboxes in the table
    //     selectAllCheckbox.addEventListener("change", () => {
    //         const checkboxes = document.getElementsByTagName("input");
    //         for (let i = 0; i < checkboxes.length; i++) {
    //             if (checkboxes[i].type === "checkbox") {
    //                 checkboxes[i].checked = selectAllCheckbox.checked;
    //             }
    //         }
    //     });
    // </script>